body{
  background: #58a0b8;
}



img{
  height: 100px;
  width: 100px;
}

h1{
    text-align: center;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 50px;
    font-style: normal; font-variant: normal;
    font-weight: 400;
    line-height: 100px;


}


.floatLeft{
  float: left;
}

.floatRight{
  float: right;
}


p{
  text-align: center;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 14px;
}

ul{
  margin:0;
  padding:0 0 0 24px;
}

 li{
  text-align: center;
  list-style-image: url("heart.jpg");
  list-style: none;
  padding: 5px 5px;
  background-image: url("heart.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
  margin:5px 0;

}





/* container */
feature-compare {
    display:flex;
    margin-top:2.5em;
}

/* columns */
feature-compare > * {
    position:relative;
    padding:0;
    text-align:center;
    width:25%;
}
feature-compare > :nth-child(2) {
    width:50%;
    z-index:10;
    box-shadow:0 5px 10px rgba(0, 0, 0, 25%);
}

column-one {
  border-radius: 25px;
  border: 2px solid #5464ab;
    background:#7d90e3;
    font-size: 12px;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-style: normal; font-variant: normal;
    font-weight: 400;
    line-height: 50px;
}
column-two {
  border-radius: 25px;
  border: 2px solid #5464ab;
    background:#7d90e3;
    font-size: 12px;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-style: normal; font-variant: normal;
    font-weight: 400;
    line-height: 50px;
}
column-three {
  border-radius: 25px;
  border: 2px solid #5464ab;
    background:#7d90e3;
    font-size: 12px;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-style: normal; font-variant: normal;
    font-weight: 400;
    line-height: 50px;
}

/* features */
feature-compare ul {
  border-radius: 25px;
    list-style:none;
    margin:0;
    padding:0;
    background:#7d90e3;
}
feature-compare li {
    white-space:nowrap;
    line-height:2.2em;
    border-top:1px solid #eee;
}
feature-compare li:first-child {
    border-top:0;
}

feature-compare span {
    display:none;
}



/* tablet breakpoint */
@media (min-width:900px) {
    feature-compare {
        margin:2.5em calc(8px + 1.5625vw);
    }
    feature-compare > * {
        width:calc(100% / 3);
    }
    feature-compare span {
        display:inline;
    }
}
